<current-page-tpl
        data-page-title="ESHOP.KEY"
        data-page-key="eshop">
</current-page-tpl>

<div id='eshop-catalog' class="eshop page-content" ng-controller='upp.eshop.CatalogCtrl'>

    <!-- inject 'products-category_filter.html' -->
    <products-category-filter-tpl
            data-filter-func='filterByCategory'>
    </products-category-filter-tpl>

    <!-- inject 'products-name_filter.html' -->
    <products-name-filter-tpl>
    </products-name-filter-tpl>


    <div class="alert alert-warning no_products-warning" ng-show="loaded && products.length < 1">
        <span>{{'ESHOP.NO-PRODUCTS'|i18n}}</span>
    </div>

    <!-- inject 'products-catalog.html' -->
    <products-catalog-tpl
            data-infinite-scroll-func='retrieveMoreProducts()'
            data-infinite-scroll-without-init-when='loaded'
            data-infinite-scroll-without-stop-when='!more'
            data-infinite-scroll-busy='busy'
            data-infinite-scroll-more-button='more'
            >
    </products-catalog-tpl>


    <!-- TODO
    <products-catalog-tpl
            data-infinite-scroll="true"
            data-list-func="listProducts">
    </products-catalog-tpl>
    -->

</div>

