<div id="navbar-main" class="snap-drawers drawers">

    <div id="navbar-main-left" class="snap-drawer snap-drawer-left">

        <div id="navbar-main-brand-wrapper">
            <a id="navbar-main-brand" href="#!/">{{childuppName}}</a>
        </div>

        <ul id="navbar-main-sections" class="nav nav-vertical">
            <li class="nav-opt" data-navbar-key="home"><a class="nav-opt-link" data-menu-toggleable="S" href="#!/">{{'HOME'|i18n}}</a></li>
                <li class="nav-opt" data-mod-key="eshop" data-navbar-key="eshop"><a class="nav-opt-link" href="#!/eshop" data-menu-toggleable="S">{{ 'ESHOP.KEY' | i18n }}</a></li>
                <li class="nav-opt" data-mod-key="cart" data-navbar-key="cart"><a class="nav-opt-link" href="#!/cart" data-menu-toggleable="S">{{ 'CART.KEY' | i18n }}</a></li>
                <li class="nav-opt" data-mod-key="about" data-navbar-key="about"><a class="nav-opt-link" href="#!/about" data-menu-toggleable="S">{{ 'ABOUT.KEY' | i18n }}</a></li>
                <li class="nav-opt" data-mod-key="promotions" data-navbar-key="promotions"><a class="nav-opt-link" href="#!/promotions" data-menu-toggleable="S">{{ 'PROMOTIONS.KEY' | i18n }}</a></li>
        </ul>

        <div id="navbar-main-powered" ng-show="showUppSignature">
            {{'POWERED_BY'|i18n}}
            <a class="nav-opt-link" href="http://www.upplication.com?utm_source=link-childupp" target="_blank">www.upplication.com</a>
        </div>
    </div>



    <div id="navbar-main-right" class="snap-drawer snap-drawer-right">
        <ul id="navbar-main-options"  class="nav nav-vertical" ng-show="account">
            <!--<li class="dropdown nav-opt">
                <a class="nav-opt-link" href="#" class="dropdown-toggle" data-toggle="dropdown">{{'LANG'|i18n}} <b
                        class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a data-menu-toggleable="S" ng-click="changeLanguage('en')">{{'ENGLISH'|i18n}}</a></li>
                    <li><a data-menu-toggleable="S" ng-click="changeLanguage('es')">{{'SPANISH'|i18n}}</a></li>
                </ul>
            </li>-->
            <li id="register-menu" class="nav-opt" data-navbar-key="register">
                <a id="register-btn" class="nav-opt-link" href="#!/register" data-menu-toggleable="S" >{{'LOGIN.REGISTER'|i18n}}</a>
            </li>
            <li id="signin-menu" class="nav-opt" ng-controller="upp.login.SigninCtrl">
                <a id="signin-btn" class="nav-opt-link" ng-click="openLogin()" >{{'LOGIN.SIGNIN'|i18n}}</a>
            </li>
            <li id="user-menu" class="dropdown nav-opt" ng-controller="upp.login.SigninCtrl" style="display: none">
                <a id="user-btn" class="dropdown-toggle nav-opt-link" data-toggle="dropdown" href="#" ><span id="username_display">{{context.authentication.principal.username_display}}</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a id="account-btn" data-menu-toggleable="S" href="#!/login/account">{{'LOGIN.ACCOUNT'|i18n}}</a></li>
                    <li><a id="orders-btn" data-menu-toggleable="S" href="#!/account/orders">{{'MCOMMERCE.MY-ORDERS.MENU'|i18n}}</a></li>
                    <li><a id="signout-btn" ng-click="logout()">{{'LOGIN.SIGNOUT'|i18n}}</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
