<div class="item catalog-filter catalog-name-filter grid">
    <label class="catalog-filter-label" for="nameFilter">
        {{'PRODUCTS.FILTERS.NAME.LABEL' | i18n}}:
    </label>
    <input type="text" id="nameFilter"  class="catalog-filter-value" ng-model="filters.name" placeholder="{{'PRODUCTS.FILTERS.NAME.PLACEHOLDER' | i18n}}"/>
</div>